**/bin
**/obj
**/.vs
/build
/test/integration/openapi-clients/java/srsclient/client/.metadata
/test/integration/openapi-clients/java/srsclient/client/.settings
/test/integration/openapi-clients/java/srsclient/client/target
/test/integration/openapi-clients/java/srsclient/clientsdk/gradle/wrapper
/srs-appliance/packer_cache
srs-appliance/output-vmware-iso
/src/Endpoint/VMware.PSExecutionHost.APIGateway/build/.nuget
/src/Endpoint/VMware.ScriptRuntimeService.APIGateway/build/.nuget
/src/Endpoint/VMware.ScriptRuntimeService.APIGateway/logs
/appliance/files/*.tar
/appliance/output-vmware-iso
/appliance/packer_cache
/appliance/vsphere-libs-output
